@font-face {
    font-family: "DstEmoji";
    src: url("./Dst Emoji.woff2") format("woff2");
}
.icon {
    font-family: "DstEmoji", sans-serif;
}
.icon input  {
    /*color: red;*/
    font-family: "DstEmoji", sans-serif;
}

